.layout {
  display: grid;
  grid-template-columns: 400px 1fr;
}

/* LISTA DE AUTOS */
.cars-section {
  position: relative;
  justify-items: center;  
  align-items: start;
  max-width: 1400px;
  margin: 30px -50px;
}




.car-column {
  position: relative;
}
