.layout {
  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 2rem;

  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
}

/* LISTA DE AUTOS */
.cars-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15rem;
  justify-items: center;  
  align-items: start;
  max-width: 1400px;
  margin: 20px auto;
}


/* DETALLE */
.details-section {
  min-width: 0;
}


@media (max-width: 900px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .details-section {
    order: -1;
  }
}
