.layout {
  display: grid;
  grid-template-columns: 400px 1fr;
}

/* LISTA DE AUTOS */
.cars-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15rem;
  justify-items: center;  
  align-items: start;
  max-width: 1400px;
  margin: 20px auto;
}



