
.app{
    padding: 2rem;
}

.cars-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.app {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}

