@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
  font-family: 'Playfair Display', system-ui, sans-serif;
  background: radial-gradient(circle 550px , #3d499b, #595959);
  color: #fff;
}
