@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
  font-family: 'italiana', system-ui, sans-serif;
  background-color: #595959;
  color: white;
}