.car-card {
  position: relative;   /* CLAVE */
  background: #1a1a1a;
  border-radius: 12px;
  overflow: hidden;
  margin: 20px;
  width: 400px;
  height: 350px;
  object-fit: cover;
}

.car-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
  margin-top: 20px ;

}

.car-overlay {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.85),
    rgba(0,0,0,0.15)
  );

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1.5rem;

  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.car-card:hover .car-overlay {
  opacity: 1;
  transform: translateY(0);
}

.car-detail {
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
