.car-detail {
    background: transparent;
    color: #fff;
    border-radius: 12px;
    position: absolute;
    top: 75px;
    left: 750px;
    width: 400px;
    height: 350px;
    cursor: pointer;
    user-select: none;
}

.car-detail p {
  font-family: "Fira Code", monospace;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
}
