/* CONTENEDOR PRINCIPAL */
.navbar {
  width: 1882px;
  margin: -2px;
  position: relative;
  top: -200px;
  left: 10px;
  z-index: 100;
  color: #ffffff;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
}

/* LOGO */
.navbar-logo {
  position: relative;
  top: 20px;
  left: -850px;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
}

/* LADO DERECHO */
.navbar-right {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  top: -18px;
  left: 1350px;
}

/* BOTONES */
.icon-btn {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;

  padding: 0.45rem 0.9rem;
  border-radius: 8px;

  font-size: 0.9rem;
  cursor: pointer;

  transition: all 0.25s ease;
}

.icon-btn:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* BOTÓN PRINCIPAL */
.icon-btn.primary {
  background: white;
  color: #1f2a30;
  font-weight: 600;
}

.icon-btn.primary:hover {
  background: #e5e5e5;
}

/* SEARCH */
.search-box {
  display: flex;
  align-items: center;

  background: rgba(255, 255, 255, 0.1);
  padding: 0.25rem;
  border-radius: 10px;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;

  color: white;
  padding: 0.45rem 0.6rem;
  width: 160px;

  font-size: 0.9rem;
}

.search-box input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.search-box button {
  background: white;
  color: #1f2a30;

  border: none;
  padding: 0.45rem 0.9rem;
  border-radius: 8px;

  font-size: 0.8rem;
  font-weight: 600;

  cursor: pointer;
  transition: background 0.25s ease;
}

.search-box button:hover {
  background: #e5e5e5;
}
