.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-top: -750px;
  padding: 50px;
  width: 185%;
}

.navbar-logo {
  font-size: 5rem;
  font-weight: bold;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.icon-btn {
  background: none;
  border: none;
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.icon-btn:hover {
  opacity: 0.8;
}

.search-box {
  display: flex;
  position: relative;
}

.search-box input {
  padding: 0.4rem 0.6rem;
  border-radius: 6px;
  border: none;
  outline: none;
}

.search-box button {
  margin-left: 0.3rem;
  padding: 0.4rem 0.7rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
