
.aboutme{
    padding: 50px;
    margin: 30px;
    font-family: "Fira Code", monospace;
    line-height: 1.6;
    color: #fff;
    width: 50%;
}

.aboutme h1 {
    font-size: 2.5rem;
    position: relative;
    top: 250px;
    left: 350px;
}

.aboutme p {
    font-size: 1.2rem;
    position: relative;
    top: 300px;
    left: 350px;
}

.aboutme img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
    top: -120px;
    left: 950px;
}